# Ignore modules pulled in from npm
node_modules/

# Ignore output directory of rc-apps package
dist/

# Ignore JetBrains IDE files
out/
.idea/
.idea_modules/

# Ignore macOS system files and folders
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
